<div id='user-nav'>
	<% if current_user %>
		<%= link_to "Edit profile", edit_user_path(:current) %> 
		<%= link_to "Logout", logout_path %>
	<% else %>
		<%= link_to "Register", new_user_path %>
		<%= link_to "Log in", login_path %>
	<% end %>
</div>
<%- flash.each do |name, msg| -%>
	<% content = content_tag :div, msg, :id => "flash_#{name}" %>
	<%= content_tag :div, content, :id => "flash_content" %>
<%- end -%>
<%= yield %>